PORT=1997
NODE_ENV=development
LOG_LEVEL=info
DUMMY_HASHED_PASSWORD=

UID=1000
GID=1000
CHOKIDAR_USEPOLLING=true

DB_NAME=invoice
MONGO_ROOT_USERNAME=''
MONGO_ROOT_PASSWORD=''

JWT_ACCESS_SECRET_KEY=''
JWT_REFRESH_SECRET_KEY=''

SENDER_EMAIL='support@billify.site'
DOMAIN='http://localhost:8080'

GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=